<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25615348978-imuk6e6uhb886fp3hkhtpao8b3hkdlv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25615348978-imuk6e6uhb886fp3hkhtpao8b3hkdlv9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25615348978-iuc48hi2n2plrbt8d48amcdvvklatopl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKgVOQtXguJOQ9bjXadyDmgvalfI5sDDM</string>
	<key>GCM_SENDER_ID</key>
	<string>25615348978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chacham.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shazam-78aef</string>
	<key>STORAGE_BUCKET</key>
	<string>shazam-78aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25615348978:ios:079aaa2d0518dc7213cc6b</string>
</dict>
</plist>